{{ define "layout" }}
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Steve's Website - {{ block "title" . }}{{ end }}</title>

	<link rel="shortcut icon" href="/static/logo.svg" type="image/svg+xml">

	<link rel="stylesheet" href="/static/bolt.css">
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<header>
		<h1><a href="/">Steve's Website</a></h1>
	</header>
	<main role="main">
		{{ block "main" . }}{{ end }}
	</main>
	<footer>
		Copyright &copy; Steven vanZyl MMXXII
	</footer>
</body>

</html>
{{ end }}
